.outer-div {
	display: none;
	width: 100%;
	/* border: 1px solid rgb(189, 189, 189); */
}

.inner-div {
	width: 500px;
	/* border: 1px solid rgb(255, 208, 208); */
	color: rgb(255, 0, 0);
	font-size: 12px;
	margin-left: 5px;
	/* margin-left: 30px; */
}

p.imported-by {
	margin-left: 250px;
	margin-top: 168px;
}

span.from {
	margin-top: 0 !important;
}

div.list-containers {
	display: inline-block;
	margin-left: 135px;
	margin-top: 65px;
}

div.list-containers-bottom {
	display: inline-block;
	margin-left: 135px;
	margin-top: 30px;
}

.list-containers span {
	margin-bottom: 4.6px;
	display: block;
}

.list-containers-bottom span {
	margin-bottom: 4.6px;
	display: block;
}

.list-containers-bottom p {
	display: inline;
}

span.received {
	display: block;
	margin-top: 33px;
}

.display {
	background-color: rgb(243, 243, 243);
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
}

@media print {
	.outer-div {
		display: block;
	}
	.display {
		display: none;
	}
}
